# Local Netlify folder
.netlify

# Compiled
dist/

# Installed
node_modules/
tsconfig.tsbuildinfo

# .env files for credentials
.env

# For local dev it may be convinient to symlink the generated schema in monorepo
/kotlin.graphql
